<h1>
  {{ title }} <span>{{ getTodoCount() }}</span>
</h1>

<div id="todoList" *ngIf="!selected">
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Mark</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td (click)="displayTodo(todo)">{{ todo.task }}</td>
        <td>
          <input
            type="checkbox"
            name="completed"
            [(ngModel)]="todo.completed"
          />
        </td>
        <td>{{ todo.completed }}</td>
      </tr>
    </tbody>
  </table>
  <form name="newTask" *ngIf="newTodo">
    <input type="text" name="task" [(ngModel)]="newTodo.task" />
    <button>Add Todo</button>
  </form>
</div>

<div id="todoDetails" *ngIf="selected && ! editTodo">
  <h4>{{ selected.id }}</h4>
  <h3>{{ selected.task }}</h3>
  <p>{{ selected.description }}</p>
  <p>Completed: {{ selected.completed }}</p>
  <button (click)="displayTable()">Back</button>
  <button (click)="setEditTodo()">Edit</button>
</div>

<div id="todoEdit" *ngIf="editTodo">
  <form>
    <label for="task">Task</label>
    <input type="text" name="task" [(ngModel)]="editTodo.task" /> <br />
    <label for="description">Description</label>
    <input type="text" name="description" [(ngModel)]="editTodo.description" />
    <br />
    <label for="completed">Completed</label>
    <input type="checkbox" name="completed" [(ngModel)]="editTodo.completed" />
    <br />
    <button (click)="editTodo = null">Cancel</button>
    <button (click)="updateTodo(editTodo)">Save</button>
  </form>
</div>
