<h1>{{ title }} <span class="badge" [ngClass]="getTodoCount() >= 10?'bg-danger': getTodoCount() >= 5 ? 'bg-warning':'bg-success'">{{ getTodoCount() }}</span></h1>

<div id="todoList" *ngIf="!selected">
  <div class="form-group">
    <input type="checkbox" name="showComplete" class="form-check-input" [(ngModel)]="showComplete">
    <label for="showComplete" class="form-check-label">Show completed todos</label>
  </div>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Task</th>
        <th>Mark</th>
        <th>Completed</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos | incomplete:showComplete" [ngClass]="todo.completed?'complete':''">
        <td (click)="displayTodo(todo)">{{ todo.task }}</td>
        <td>
          <input type="checkbox" name="completed"
            [(ngModel)]="todo.completed" class="form-check"
            (change)="updateTodo(todo, false)"
          />
        </td>
        <td>{{ todo.completed }}</td>
        <td><button (click)="deleteTodo(todo.id)" class="btn btn-danger">X</button></td>
      </tr>
    </tbody>
  </table>
  <form name="newTask" *ngIf="newTodo" class="form form-inline">
    <div class="input-group">
      <input type="text" name="task" [(ngModel)]="newTodo.task" class="form-control"/>
      <button (click)="addTodo(newTodo)" class="btn btn-primary">Add Todo</button>
    </div>
  </form>
</div>

<div id="todoDetails" *ngIf="selected && ! editTodo">
  <h4>{{ selected.id }}</h4>
  <h3>{{ selected.task }}</h3>
  <p>{{ selected.description }}</p>
  <p>Completed: {{ selected.completed }}</p>
  <button (click)="displayTable()" class="btn btn-outline-danger">Back</button>
  <button (click)="setEditTodo()" class="btn btn-outline-primary">Edit</button>
</div>

<div id="todoEdit" *ngIf="editTodo">
  <form>
    <div class="form-group">
    <label for="task" class="form-label">Task</label>
    <input type="text" name="task" [(ngModel)]="editTodo.task" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="description" class="form-label">Description</label>
    <input type="text" name="description" [(ngModel)]="editTodo.description"  class="form-control"/>
  </div>
  <div class="form-check">
    <label for="completed" class="form-check-label">Completed</label>
    <input type="checkbox" name="completed" [(ngModel)]="editTodo.completed"  class="form-check-input"/>
  </div>
    <button (click)="editTodo = null" class="btn btn-danger">Cancel</button>
    <button (click)="updateTodo(editTodo)" class="btn btn-success">Save</button>
  </form>
</div>
